.bg_text {
  background-color: rgba(0, 0, 0, 0.205);
  border-radius: 7px;
}
.slidein2 {
  animation-duration: 3s;
  animation-name: slidein2;
  animation-delay: 1s;
}

@keyframes slidein2 {
  from {
    margin-right: 10%;
  }

  to {
    margin-right: 0%;
  }
}
.slidein {
  animation-duration: 5s;
  animation-name: slidein;
  animation-delay: 1s;
}

@keyframes slidein {
  from {
    margin-left: 10%;
  }

  to {
    margin-left: 0%;
  }
}
.img__tarjeta {
  margin-top: 15px;
}
.img__tarjeta:hover {
  transform: scale(1.05);
  overflow: hidden;
}
.index__tarjeta {
  overflow: hidden;
}
.land {
  position: relative;
}
h1 {
  position: relative;
}
.land::before {
  background-image: url(../imgs/landing_artes.jpg);
  background-position: center;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  content: "";
  filter: brightness(60%);
}
.cualidades {
  position: relative;
  h2 {
    position: relative;
  }
  ul li:hover {
    transform: scale(1.2);
  }
}
.cualidades:before {
  background-image: url(../imgs/fondo_cualidades.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 50px;
  filter: opacity(70%);
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  content: "";
}

.bg-item {
  background-color: rgba(255, 255, 255, 0.13);
}
.img-carrousel {
  height: 350px;
  img {
    filter: brightness(60%);
  }
}
.carrito_prod {
  height: 200px;
}
.img__carrito {
  height: 190px;
}
