.nosotros__main {
  background-image: url(../imgs/artesano2.jpg);
  min-height: 70vh;
  padding: 20% 12% 20% 12%;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-top: -0.005%;

  h1 {
    background-color: rgba(255, 255, 255, 0.8);
  }
}
