$footergradient: linear-gradient(
  to right,
  rgb(20, 42, 166, 0.7),
  rgb(20, 42, 166, 0.4)
);
$headerback: linear-gradient(
  to left,
  rgb(121, 242, 29, 0.6),
  rgb(121, 242, 29, 0.95)
);
$price1: rgb(121, 242, 29, 0.95);
$cont-back: linear-gradient(
  to left,
  rgba(255, 255, 255, 0.425),
  rgba(121, 242, 29, 0.253)
);
$primary: rgb(0, 36, 179);
$danger: rgba(121, 242, 29, 0.6);
